<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="homepage :: site-head">
    <meta charset="UTF-8">
    <title th:text="${post.title}">View Post</title>
</head>

<body>
<header th:replace="homepage :: site-header"></header>
<main id="posts">
    <article>
        <h2 class="title" th:text="${post.title}">Post title</h2>
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(post.createdAt, 'dd-MM-yyyy')}">16-01-2021</span>
            <span th:if="${post.userName}" th:remove="tag">
                <i>by</i>
                <span th:text="${post.userName.fullName != null ?
                post.userName.fullName : post.userName}">Janek Kowalski</span>
            </span>
        </div>
        <p class="content" th:utext="${post.text}">Post content</p>
    </article>
</main>
<footer th:replace="homepage :: site-footer" ></footer>
</body>
</html>