<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
<meta charset="UTF-8"/>
<!--<link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<link rel = "stylesheet" href="/stylesheet/homepage.css" />
<!--<link rel="stylesheet" type="text/css" th:href="@{/styles/homepage.css}">-->
    <!--<link rel="icon2d" href="static/img/icon2d.png" th:href="@{/img/icon2d.png}"/>-->
<!--<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<script src="/static/js/scripts.js" th:src="@{js/scripts.js}"></script>
<title>CommentUs</title>
</head>
<body>
<header th:fragment="site-header" th:remove="tag">
    <header>
        <a href="index.html" th:href="@{/}"><img
                src="../public/img/site-logo.png" th:src="@{/img/site-logo.png}" /></a>
        <a href="index.html" th:href="@{/}">Home</a>
        <a href="users/login.html" th:href="@{/users/login}">Login</a>
        <a href="users/register.html" th:href="@{/users/register}">Register</a>
        <a href="posts/index.html" th:href="@{/posts}">Posts</a>
        <a href="posts/create.html" th:href="@{/posts/create}">Create Post</a>
        <a href="users/index.html" th:href="@{/users}">Users</a>
        <div id="logged-in-info">
            <span>Hello, <b>(user)</b></span>
            <form method="post" th:action="@{/users/logout}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </header>

<!--    <ul id="messages" th:with="notifyMessages=${session[T(blog.services-->
<!--          .NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">-->
<!--        <li th:each="msg : ${notifyMessages}" th:text="${msg.text}"-->
<!--            th:class="${#strings.toLowerCase(msg.type)}">-->
<!--        </li>-->
<!--        <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(-->
<!--          T(blog.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>-->

<!--    </ul>-->
</header>
<h1>Welcome</h1>
<p>Welcome to CommentUs</p> <footer th:fragment="site-footer">
    &copy; CommentUs Social System, 2021
</footer>
</body>
</html>