<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" media="all" th:href="@{/stylesheet/homepage.css}"/>
    <link rel="shortcut icon" th:href="@{/static/img/favicon.ico}" type='image/vnd.microsoft.icon'/>


    <!--    <script src="../resources/static/js/jquery-3.5.1.js"></script>-->
    <title>CommentUs</title>
</head>
<!--<head th:fragment="site-head">-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>Comment Us</title>-->
<!--    <link rel="icon" th:href="@{/static/img/favicon.ico}" href="../static/img/favicon.ico">-->
<!--    <link rel="stylesheet"  th:href="@{/static/stylesheet/homepage.css}" href="../static/stylesheet/homepage.css">-->
<!--</head>-->
<body>
<header th:fragment="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--        <a th:href="@{/}" >-->
<!--            <img alt="Qries" th:src="@{/img/favicon.ico}" width=150" height="70"/></a>-->
        <a  th:href="@{/}"><img class="navbar-logo" th:src="@{/img/site-logo.png}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="users/login.html" th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="users/register.html" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="posts/index.html" th:href="@{/posts}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="posts/create.html" th:href="@{/posts/create}">Create Post</a>
                </li>
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
<!--                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        Dropdown-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <a class="dropdown-item" href="#">Action</a>-->
<!--                        <a class="dropdown-item" href="#">Another action</a>-->
<!--                        <div class="dropdown-divider"></div>-->
<!--                        <a class="dropdown-item" href="#">Something else here</a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--                </li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!--    <a href="index.html" th:href="@{/}">Home</a>-->
    <!--    <a href="users/login.html" th:href="@{/users/login}">Login</a>-->
    <!--    <a href="users/register.html" th:href="@{/users/register}">Register</a>-->
    <!--    <a href="posts/index.html" th:href="@{/posts}">Posts</a>-->
    <!--    <a href="posts/create.html" th:href="@{/posts/create}">Create Post</a>-->
    <!--    <a href="users/index.html" th:href="@{/users}">Users</a>-->
    <!--    <div id="logged-in-info"><span>Hello, <b>(user)</b></span>-->
    <!--        <form method="post" th:action="@{/users/logout}">-->
    <!--            <input type="submit" value="Logout"/>-->
    <!--        </form>-->
    <!--    </div>-->
</header>
<h1>Welcome</h1>
<p>Welcome to CommentUs</p>
<footer th:fragment="site-footer">
    &copy; CommentUs System, 2021
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>
</html>